:root {
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-radius-200: 8px;
  --color-background-danger-hover: var(--color-primitives-red-600);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-primitives-red-600: rgba(192, 15, 12, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-red-700: rgba(144, 11, 9, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-background-danger-hover: var(--color-primitives-red-600);
}

[data-color-mode="SDS-dark"] {
  --color-background-danger-hover: var(--color-primitives-red-700);
}

[data-color-mode="brand-b-light"] {
  --color-background-danger-hover: var(--color-primitives-red-600);
}
